#################  PlayEdu ###################
PLAYEDU_API_PORT=9700
PLAYEDU_PC_PORT=9800
PLAYEDU_H5_PORT=9801
PLAYEDU_ADMIN_PORT=9900
PLAYEDU_JWT_KEY=rainbow2004

#################  MySQL ###################
MYSQL_PORT=23307
DB_PASS=rainbow2004

#################  MinIO ###################
MINIO_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_ROOT_USERNAME=zcb
MINIO_ROOT_PASSWORD=rainbow2004
MINIO_DEFAULT_BUCKETS=playedu

#################  Subtitle ###################
PLAYEDU_SUBTITLE_ENABLED=true
PLAYEDU_SUBTITLE_AUTO_GENERATE_ON_UPLOAD=true
PLAYEDU_SUBTITLE_PROVIDER=whisper
PLAYEDU_SUBTITLE_LANGUAGE=zh
PLAYEDU_SUBTITLE_TASK=transcribe
PLAYEDU_SUBTITLE_RESPONSE_FORMAT=vtt
PLAYEDU_SUBTITLE_TIMEOUT_MS=1800000
PLAYEDU_SUBTITLE_EXTRACT_AUDIO_BEFORE_TRANSCRIBE=true
PLAYEDU_SUBTITLE_FFMPEG_COMMAND=ffmpeg
PLAYEDU_SUBTITLE_AUDIO_FORMAT=wav
PLAYEDU_SUBTITLE_AUDIO_SAMPLE_RATE=16000
PLAYEDU_SUBTITLE_AUDIO_CHANNELS=1
PLAYEDU_S3_PUBLIC_ENDPOINT=http://localhost:9002
WHISPER_PORT=9000
WHISPER_ASR_ENGINE=faster_whisper
WHISPER_ASR_MODEL=small
